a{
    text-decoration: none;
}

.menu{
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}
.title1{
    color: #08ac16;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}
.text{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987
}
.title2{
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}

img{
    width: 200px;
    border-radius: 200px;
    margin-right: 200px;
}
h1{
font-size: 20px;
}